{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "quotes": 0,
    "no-console": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-duplicates": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0
  }
}
